
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    transition: .2s linear;
}
h1 h3 p{
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
/* nav sec */

/* close nav sec */
/* hello sec */

#hello{
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
}
#hello{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
#greeting{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
#greeting h1{
    display: block;
    width: fit-content;
    color: white;
    position: relative;
    font-size: 2.7rem;
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
#greeting h3{
    width: fit-content;
    display: block;
    color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
.cme a{
    display: block;
    font-size: 1.4rem;
    background-color: crimson;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: 50px;
}
.cme a:hover{
    background-color: white;
    color: crimson;
    transition: .6s ease;
}
.cme a:active{
    background-color: rgb(246, 19, 19);
}

@media (max-width: 990px){

}

/* close hello sec */
/* skillset sec */
.skills{
    width: 100%;
    display: flex;
    min-height: 100vh;
    background: black;
    color: wheat;
    flex-wrap: wrap;
    flex-direction: column;
}
.skills .skill-head{
    /* width: 60%; */
    /* padding: 2rem; */
    text-align: center;
}
.skills .skill-head h2{
    color: crimson;
    font-size: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid crimson;
    text-align: center;
    margin: 6px 10px;
}
.skills .skill-types{
    display: flex;
    flex-wrap: wrap;
}
.skills .skill-types .skill-sets{
    /* flex: 1 1 100px; */
    width: 300px;
    height: 300px;
    /* border:  2px solid crimson; */
    border-radius: 10px;
    margin: 20px 25px;
}
.skills .skill-types .skill-sets:nth-child(1){
    background: linear-gradient(rgb(250, 24, 24), rgb(75, 9, 22));
}
.skills .skill-types .skill-sets:nth-child(2){
    background: linear-gradient(rgb(104, 8, 25), rgb(250, 0, 0));
}
.skills .skill-types .skill-sets:nth-child(3){
    background: linear-gradient(rgb(255, 5, 5), rgb(103, 9, 28));
}
.skills .skill-types .skill-sets:hover{
    transform: scale(1.1);
}
.skills .skill-types .skill-sets h3{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
    text-align: center;
    margin: 10px 10px;
    text-shadow: red -2px 0;
    text-shadow: rgb(0, 0, 0) 2px 0;
}
.skills .skill-types .skill-sets p{
    font-size: 16px;
    text-align: center;
    margin: 10px 10px;
    text-shadow: red -2px 0;
    text-shadow: rgb(0, 2, 0) 2px 0;
}
.skills .skill-icons{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .skill-icons .icons i{
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    margin-right: 20px;
}
.skills .skill-icons .icons i:hover{
    transform: scale(1.5);
}
/* skillset about sec */
/* project sec */
#project{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    color: black;
}
#project h1{
    padding: 15px 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    /* flex: 1 1 100px; */
    border-image: url(images/border-image.png);
    border-image-slice: fill;
    border-radius: 5px;
    max-width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;   
    margin: 30px;
}
.card .main-content{
    width: 100%;
    height: 100%;
}
.card .main-content img{
    width: 100%;
    height: 100%;
}
.card .overlay-content{
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
    top: 0%;
    left: 100%;
    opacity: 0.8s;
}
.card .overlay-content h3{
    font-size: 30px;
    color: crimson;
    font-weight: bolder;
    margin-bottom: 20px;
}
.card:hover .overlay-content{
    transform: translateX(-100%);
}
.card .overlay-content button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: crimson;
    border-radius: 10px;
}
.card .overlay-content button a{
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}
.card .overlay-content button:hover{
    background-color: white;
}
.card .overlay-content button a:hover{
    color: crimson;
}
@media (max-width: 900px){
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
}
/* close project sec */


















