@font-face{
    font-family: aquire;
    src: url(aquire-font/Aquire-BW0ox.otf);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    transition: .2s linear;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #1b1729;
}
::-webkit-scrollbar-thumb{
    background: #3ca8e7;
    border-radius: 100vw;
}
html{
    scroll-behavior: smooth;
}
h1 h3 p{
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
/* nav sec */
header{
    background-color: #18152481;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
}
.navbar{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    min-height: 60px;
    padding: 5px 10px;
}
.nav-menu{
    float: right;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;
    align-items: center; */
    gap: 35px;
    padding: 16px 0;
}
.nav-branding{
    font-family: aquire;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: bold;
    background: linear-gradient(to right, rgb(78, 78, 244), rgb(72, 231, 245));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
    font-family: aquire;
    padding: 20px 10px;
    transition: .2s ease;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}
.nav-link:hover{
    color: black;
    border-radius: 5px;
}
.nav-link:active{
    background-color: #1a575c;
}
.nav-link::before{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgb(25, 198, 198);
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.nav-link::before{
    transform: scaleX(0);
}
.nav-link:hover::before{
    transform: scaleX(1);
}
.checkbtn{
    color: aqua;
    font-size: 40px;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:900px){
    .checkbtn{
        display: block;
        margin: 10px 0;
    }
    #check:checked ~ .nav-menu{
        left: 0;
    }
    .nav-branding{
        font-size: 2rem;
        margin: 12px;
    }
    .navbar{
        min-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #181524;
        width: 100%;
        text-align: center;
        transition: .3s;
    }.nav-item{
        margin: 16px 0;
    }
    .nav-menu:checked .nav-link:active{
        left: -100%;
    }
}
/* close nav sec */
  /* home sec */
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: color-change-3x 4s linear infinite alternate both;
	animation: color-change-3x 4s linear infinite alternate both;
}
.home .greet{
    font-weight: bold;
    background: linear-gradient(to right, rgb(16, 16, 64), rgb(3, 48, 52));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .greet h3{
    font-family: aquire;
    padding: 4px 18px;
    font-size: 22px;
    font-weight: lighter;
}
.home .greet h1{
    font-family: aquire;
    padding: 4px 18px;
    font-size: 60px;
    font-weight: bold;
}
 @-webkit-keyframes color-change-3x {
    0% {
      background: #10585e;
    }
    50% {
      background: #642cff;
    }
    100% {
      background: #22ccea;
    }
  }
  @keyframes color-change-3x {
    0% {
      background: #1a575c;
    }
    50% {
      background: #682cff;
    }
    100% {
      background: #22d6ea;
    }
  }
  
  /* end home sec */

  /* About sec */
  .about{
    background: #151222;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 0 -40px;
  }
  .about .about-me{
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
  }
  .about .about-me h1{
    font-family: aquire;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid aquamarine;
    margin: 30px auto;
    background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about .about-me p{
    gap: 20px;
    font-size: 22px;
    margin: 10px 20px;
    color: rgb(48, 153, 153);
  }
  .about .img{
    flex: 1 1 300px;
  }
  .about .img img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background: #15122257;
  }

@media (max-width: 900px){
    .about{
        flex-wrap: wrap;
    }
}  
  /* End About sec */

  /* service sec */
  .service{
    height: 100vh;
    width: 100%;
    background: #0d373b;
  }
  .contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .service h1{
    font-family: aquire;
    font-size: 40px;
    border-bottom: 3px solid aquamarine;
    background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
  }
  .service .content{
    /* width: 200px; */
    height: 350px;
    margin: 40px;
    padding: 30px 50px;
    background: #181524;
    border-radius: 8px;
    box-shadow: 2px 4px 12px rgb(5, 146, 156);
  }
  .service .content:hover{
    transform: scale(1.1);
    box-shadow: 4px 8px 32px rgb(8, 223, 238);
  }
  .service .content .up-content h1{
    font-size: 30px;
    margin: 10px auto;
    padding: 10px;
    font-family: aquire;
    border-bottom: 3px solid aquamarine;
    background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .service .content .up-content .icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .service .content .up-content .icon img{
    width: 100%;
    height: 100%;
  }
  .service .content .down-lay p{
    padding: 5px;
    margin-top: 30px;
    font-size: 18px;
    color: rgb(44, 154, 117);
  }


  @media (max-width:900px){
    .content{
        display: flex;
        flex-wrap: wrap;
    }
  }
  /* end service sec */




















