@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200;1,600&family=Lora:ital,wght@0,500;0,600;1,500;1,600&family=Montserrat:wght@300;700&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,900;1,300;1,500&display=swap");
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    list-style: none;
    font-family: "lora", "serif";
    text-transform: capitalize;
    transition: .2s linear;
}
h1 h3 p{
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
/* nav sec */

/* close nav sec */
/* hello sec */

#hello{
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
}
#hello{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
#greeting{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
#greeting h1{
    display: block;
    width: fit-content;
    color: white;
    position: relative;
    font-size: 2.7rem;
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
#greeting h3{
    width: fit-content;
    display: block;
    color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
.cme a{
    display: block;
    font-size: 1.4rem;
    background-color: crimson;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: 50px;
}
.cme a:hover{
    background-color: white;
    color: crimson;
    transition: .6s ease;
}
.cme a:active{
    background-color: rgb(246, 19, 19);
}

@media (max-width: 990px){

}

/* close hello sec */
/* about sec */
.about{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content img{
    height: auto;
    width: 400px;
    max-width: 100%;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: crimson;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h4{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    color: aliceblue;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.content a{
    background-color: crimson;
    color: white;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}
.content a:hover{
    background-color: white;
    color: crimson;
    transform: scale(1.2);
    transition: .4s;
}
@media (max-width: 1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media (max-width: 650px){
    .about .content img{
        margin-bottom: 35px;
    }
}

/* close about sec */
/* project sec */
#project{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    color: black;
}
#project h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card{
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;   
    margin: 15px auto;
}
.card .main-content{
    width: 100%;
    height: 100%;
}
.card .main-content img{
    width: 100%;
    height: 100%;
}
.card .overlay-content{
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
    top: 0%;
    left: 100%;
    opacity: 0.8s;
}
.card .overlay-content h3{
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    margin-bottom: 20px;
}
.card:hover .overlay-content{
    transform: translateX(-100%);
}
/* close project sec */


















