*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    transition: .2s linear;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #1b1729;
}
::-webkit-scrollbar-thumb{
    background: #3ca8e7;
    border-radius: 100vw;
}
html{
    scroll-behavior: smooth;
}
h1 h3 p{
    text-shadow: red -2px 0;
    text-shadow: green 2px 0;
}
/* nav sec */
header{
    background-color: #181524;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
}
.navbar{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    min-height: 60px;
    padding: 5px 10px;
}
.nav-menu{
    float: right;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;
    align-items: center; */
    gap: 35px;
    padding: 16px 0;
}
.nav-branding{
    display: inline-block;
    font-size: 2.6rem;
    font-weight: bold;
    background: linear-gradient(to right, rgb(78, 78, 244), rgb(72, 231, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
    padding: 20px 10px;
    transition: .2s ease;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}
.nav-link:hover{
    background: rgb(56, 244, 244);
    width: 100%;
    border-radius: 15px;
    color: black;
}
.checkbtn{
    color: aqua;
    font-size: 40px;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:900px){
    .checkbtn{
        display: block;
        margin: 10px 0;
    }
    #check:checked ~ .nav-menu{
        left: 0;
    }
    .nav-branding{
        font-size: 2rem;
        margin: 12px;
    }
    .navbar{
        min-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #181524;
        width: 100%;
        text-align: center;
        transition: .3s;
    }.nav-item{
        margin: 16px 0;
    }
    .nav-menu:checked .nav-link:active{
        left: -100%;
    }
}
/* close nav sec */  




















